<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
<h1 class="title">TODO List</h1>
<form class="task-form" action="/tasks" method="post">
  <input type="text" name="description" placeholder="New task" required>
  <input type="text" name="assignee" placeholder="Assignee" required>
  <button type="submit" class="add-button">Add</button>
</form>
<ul>
  {{#each tasks}}
    <li class="{{#if done}}done{{/if}}">
      <span class="description">{{description}}</span>
      <span class="asignee">{{assignee}}</span>
      <span class="buttons">
        {{#if done}}
        <form class="done-form" action="/tasks/{{id}}/undone" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="undone-button">Undone</button>
        </form>
        {{else}}
          <form class="done-form" action="/tasks/{{id}}/done" method="post">
            <input type="hidden" name="_method" value="POST">
            <button type="submit" class="done-button">Done</button>
          </form>
        {{/if}}
        <form class="delete-form" action="/tasks/{{id}}/delete" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </span>
    </li>
  {{/each}}
</ul>
</body>
</html>
