<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>

  <body>
    <div class="logout-container">
    <form class="logout-form" action="/logout" method="get">
      <button type="submit" class="logout-button">Log Out</button>
    </form>
    </div>
    <h1 class="title">TODO List</h1>
    <form class="task-form" action="/home/tasks" method="post">
      <input type="text" name="description" placeholder="New task" required />
      <input type="text" name="assignee" placeholder="Assignee" required />
      <button type="submit" class="add-button">Add</button>
    </form>
    <!-- Dropdown list for filtering tasks -->
    <select id="filter-select" onchange="filterTasks()">
      <option value="all">All Tasks</option>
      <option value="done">Completed Tasks</option>
      <option value="undone">Incomplete Tasks</option>
    </select>
    <ul>
      {{#each tasks}}
      <li class="{{#if status}}done{{/if}}">
        <span class="description" id="description-{{ id }}">{{
          description
        }}</span>
        <span class="assignee" id="assignee-{{ id }}">{{ assignee }}</span>
        <span class="buttons">
          <button class="edit-button" onclick="toggleEditMode({{ id }})">
            Edit
          </button>
          {{#if status}}
          <form class="done-form" action="/home/tasks/{{ id }}/undone" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <button type="submit" class="toggle-button">Undone</button>
          </form>
          {{else}}
          <form class="done-form" action="/home/tasks/{{ id }}/done" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <button type="submit" class="toggle-button">Done</button>
          </form>
          {{/if}}
          <form
            class="delete-form"
            action="/home/tasks/{{ id }}/delete"
            method="post"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="delete-button">Delete</button>
          </form>
          <form
            class="edit-form"
            id="edit-form-{{ id }}"
            style="display: none"
            action="/home/tasks/{{ id }}"
            method="post"
          >
            <input
              type="text"
              name="description"
              id="edit-description-{{ id }}"
              value="{{ description }}"
            />
            <input
              type="text"
              name="assignee"
              id="edit-assignee-{{ id }}"
              value="{{ assignee }}"
            />
            <!-- Other form fields -->
            <button type="submit" class="save-button">Save</button>
          </form>
        </span>
      </li>
      {{/each}}
    </ul>
  <script src="/client.js"></script>
  </body>
</html>
